<h1>Pull Requests</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">A file changed multiple times</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each do |pull_request|  %>
    <tr>
      <td><%= link_to pull_request.title, pull_path(pull_request.number) %></td>
      <td class="text-align-end"><%= pull_request.files_changed_multiple_times? %></td>
    </tr>
    <% end %>
  </tbody>
</table>


